@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Typography{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Link{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.dashboard{
  text-align: center;
  margin-top: 20px;
}

.ContactUs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.contact{
  display: flex;
  flex-basis: 50%;
  justify-content: center;}

.imagecarousel{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.LoginSignup{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signin{
  display: flex;
  flex-basis: 90%;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.Register{
  display: flex;
  flex-basis: 90%;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.Login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  height: 300px;
}

.Signup{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  height: 550px;
}

.UpdateUser{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-color: #333;
  width:45vw; 
  height:550px;
  border:solid; 
  border-radius:10px;
  padding:10px;
  background-color: wheat;
  margin-top: 50px;
}

.UpdateData{
  position: relative;
}

h6{
  text-align: center;
}

.Dashboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.AboutUs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 75vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.Services{
  text-align: center;
  margin-top: 20px;
}

.aboutus{
  text-align: start;
  margin-top: 20px;
  margin-left: 10px;
}

.services{
  margin-top: 100px;
}

.UserData{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 45vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.ContactUsForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 45vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.textfield{
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 80%;
}

.buttons{
  position: relative;
  top: 200px;
}

.saveButton{
  position: relative;
  top: 80px;
}

.closeButton{
  position: relative;
  top: 50px;
}

.carousel{
  max-width: 45vw;
  max-height: 600px;
}

h3{
  margin-bottom: 10px;
}

@media (max-width: 1450px){
  .UserData{
    width: 47vw; 
  }

  .UpdateUser{
    width:47vw; 
  }
}

@media (max-width: 1400px){
  .UserData{
    width: 49vw; 
  }

  .UpdateUser{
    width:49vw; 
  }
}

@media (max-width: 1350px){
  .UserData{
    width: 51vw; 
  }

  .UpdateUser{
    width:51vw; 
  }
}

@media (max-width: 1300px){
  .UserData{
    width: 53vw; 
  }

  .UpdateUser{
    width:53vw; 
  }
}

@media (max-width: 1250px){
  .UserData{
    width: 55vw; 
  }

  .UpdateUser{
    width:55vw; 
  }
}

@media (max-width: 1200px){

  .ContactUsForm{
    width: 44vw;
    height: 530px;
  }

  .carousel{
    max-width: 43vw;
  }

  .Login{
    width: 46vw;
  }

  .Signup{
    width: 46vw;
  }

  .UserData{
    width: 56vw; 
  }

  .UpdateUser{
    width:56vw; 
  }
}

@media (max-width: 1175px){

  .ContactUsForm{
    height: 510px; 
  }

  .Login{
    width: 47vw;
  }

  .Signup{
    width: 47vw;
  }
  
  .UserData{
    width: 57vw; 
  }

  .UpdateUser{
    width:57vw; 
  }
}

@media (max-width: 1150px){

  .ContactUsForm{
    height: 490px; 
  }
  .Login{
    width: 48vw;
  }

  .Signup{
    width: 48vw;
  }
  
  .UserData{
    width: 58vw; 
  }
  
  .UpdateUser{
    width:58vw; 
  }
}

@media (max-width: 1125px){

  .ContactUsForm{
    height: 470px; 
  }
  .Login{
    width: 49vw;
  }

  .Signup{
    width: 49vw;
  }
  
  .UserData{
    width: 59vw; 
  }
  
  .UpdateUser{
    width:59vw; 
  }
}

@media (max-width: 1100px){

  .ContactUsForm{
    height: 450px;  
  }
  .Login{
    width: 50vw;
  }

  .Signup{
    width: 50vw;
  }
  
  .UserData{
    width: 60vw; 
  }
  
  .UpdateUser{
    width:60vw; 
  }
}

@media (max-width: 1075px){

  .ContactUsForm{
    height: 440px;  
  }
  .Login{
    width: 51vw;
  }

  .Signup{
    width: 51vw;
  }
  
  .UserData{
    width: 61vw; 
  }
  
  .UpdateUser{
    width:61vw; 
  }
}

@media (max-width: 1050px){

  .ContactUsForm{
    height: 430px;  
  }
  .Signup{
    width: 52vw;
  }

  .Login{
    width: 52vw;
  }
  
  .UserData{
    width: 62vw; 
  }
  
  .UpdateUser{
    width:62vw; 
  }
}

@media (max-width: 1025px){

  .ContactUsForm{
    height: 420px;  
  }
  .Login{
    width: 53vw;
  }

  .Signup{
    width: 53vw;
  }
  
  .UserData{
    width: 63vw; 
  }
  
  .UpdateUser{
    width:63vw; 
  }
}

@media (max-width: 1000px){

  .ContactUsForm{
    height: 410px;  
  }
  .Login{
    width: 54vw;
  }

  .Signup{
    width: 54vw;
  }
  
  .UserData{
    width: 64vw; 
  }
  
  .UpdateUser{
    width:64vw; 
  }
}

@media (max-width: 900px){

  .ContactUs{
    flex-direction: column-reverse;
  }
  .Login{
    width: 55vw;
  }

  .Signup{
    width: 55vw;
  }

  .carousel{
    max-width: 65vw;
    max-height: 600px;
    margin-bottom: 50px;
  }
    
  .ContactUsForm{
    width: 65vw;
    height: 600px;
  }
  
  .UserData{
    width: 65vw; 
  }
  
  .UpdateUser{
    width:65vw; 
  }
}

@media (max-width: 850px){

  .ContactUsForm{
    height: 560px;  
  }
  .Login{
    width: 56vw;
    height: 290px;
  }

  .Signup{
    width: 56vw;
    height: 545px;
  }
  
  .UserData{
    width: 67vw; 
  }
  
  .UpdateUser{
    width:67vw; 
  }
}

@media (max-width: 800px){

  .ContactUsForm{
    height: 520px;  
  }
  .Login{
    width: 57vw;
    height: 280px;
  }

  .Signup{
    width: 57vw;
    height: 540px;
  }
  
  .UserData{
    width: 69vw; 
  }
  
  .UpdateUser{
    width:69vw; 
  }
}

@media (max-width: 750px){

  .ContactUsForm{
    height: 480px;  
  }
  .Login{
    width: 58vw;
    height: 270px;
  }

  .Signup{
    width: 58vw;
    height: 535px;
  }
  
  .UserData{
    width: 71vw; 
  }
  
  .UpdateUser{
    width:71vw; 
  }
}

@media (max-width: 700px){

  .ContactUsForm{
    height: 440px;  
  }
  .Login{
    width: 59vw;
    height: 260px;
  }

  .Signup{
    width: 59vw;
    height: 530px;
  }
  
  .UserData{
    width: 73vw; 
  }
  
  .UpdateUser{
    width:73vw; 
  }
}

@media (max-width: 650px){

  .ContactUsForm{
    height: 400px;  
  }
  .Login{
    width: 60vw;
    height: 250px;
  }

  .Signup{
    width: 59vw;
    height: 520px;
  }
  
  .UserData{
    width: 75vw; 
  }
  
  .UpdateUser{
    width:75vw; 
  }
}

@media (max-width: 600px){

  .ContactUsForm{
    height: 360px;  
  }
  .Signup{
    width: 59vw;
    height: 505px;
  }

  .Login{
    width: 59vw;
    height: 260px;
  }
  
  .UserData{
    width: 77vw; 
  }
  
  .UpdateUser{
    width:77vw; 
  }

  h3{
    font-size: medium;
  }
}

@media (max-width: 550px){

  .ContactUsForm{
    height: 320px;  
  }
  .Login{
    width: 58vw;
    height: 220px;
  }

  .Signup{
    width: 59vw;
    height: 490px;
  }
  
  .UserData{
    width: 79vw; 
  }
  
  .UpdateUser{
    width:79vw; 
  }

  h3{
    font-size: medium;
  }
}

@media (max-width: 500px){

  .ContactUsForm{
    height: 310px;  
  }
  .Login{
    width: 57vw;
    height: 200px;
  }

  .Signup{
    width: 59vw;
    height: 475px;
  }
  
  .UserData{
    width: 80vw; 
  }
  
  .UpdateUser{
    width:80vw; 
  }

  h3{
    font-size: medium;
  }
}

@media (max-width: 450px){

  .ContactUsForm{
    height: 300px;  
  }
  .Login{
    width: 56vw;
    height: 180px;
  }

  .Signup{
    width: 59vw;
    height: 450px;
  }
  
  .UserData{
    width: 81vw; 
  }
  
  .UpdateUser{
    width:81vw; 
  }

  h3{
    font-size: medium;
  }

  h4{
    font-size: small;
  }
}