@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Typography{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Link{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.dashboard{
  text-align: center;
}

.ContactUs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.contact{
  display: flex;
  flex-basis: 50%;
  justify-content: center;}

.imagecarousel{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.LoginSignup{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signin{
  display: flex;
  flex-basis: 90%;
  min-width: 550px;
}

.Register{
  display: flex;
  flex-basis: 90%;
  min-width: 550px;
}

.Login{
  min-width: 600px;
}

.Signup{
  min-width: 600px;
}

.UpdateUser{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-color: #333;
  width:550px; 
  height:450px;
  border:solid; 
  border-radius:10px;
  padding:10px;
  background-color: wheat;
}

h6{
  text-align: center;
}

.Dashboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}