@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Typography{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
Link{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.dashboard{
  text-align: center;
  margin-top: 20px;
}

.ContactUs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.contact{
  display: flex;
  flex-basis: 50%;
  justify-content: center;}

.imagecarousel{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.LoginSignup{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signin{
  display: flex;
  flex-basis: 90%;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.Register{
  display: flex;
  flex-basis: 90%;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.Login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  height: 300px;
}

.Signup{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  height: 550px;
}

.UpdateUser{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-color: #333;
  width:45vw; 
  height:550px;
  border:solid; 
  border-radius:10px;
  padding:10px;
  background-color: wheat;
  margin-top: 50px;
}

h6{
  text-align: center;
}

.Dashboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.AboutUs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 45vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.Services{
  text-align: center;
  margin-top: 20px;
}

.aboutus{
  text-align: start;
  margin-top: 20px;
  margin-left: 10px;
}

.services{
  margin-top: 100px;
}

.UserData{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 45vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.ContactUsForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:solid; 
  border-color: #333;
  border-radius:10px;
  width: 45vw; 
  height:550px;
  padding:10px;
  background-color: wheat;
}

.textfield{
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 80%;
}